<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2B564832A14E3A200593C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2B564992A14E3A400593C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2B564A32A14E3A400593C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D4F71D2A20935500242D19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
